// Place all the styles related to the photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
	text-align: center;
	float: center;
}

.textleft {
	text-align: left;
}

#headblock {
	background-color: #6D48D7;
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

#Darth {
	margin: 0 auto;
	position: relative;
	display: block;
}

#blackback {
	height: 200;
	width: 100%;
	background-color: black;
}

body {
	float: center;
	height: 100%;
	width: 100%;
	display: block;
	background-color: #4F2982;
}

.AverageText {
	font-size: 1em;
	font-family: serif;
	color: white;
	text-shadow: 2.5px 2.5px 2.5px #2C1000;
}

.gradient {
	position: relative;
	width: 9.2em;
	background: linear-gradient( white, blue );
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: groove;
	border-width: 5px;
	border-color: grey;
}

#button {
	position: relative;
	width: 12.8em;
	height: 2.3em;
}

.pos {
	position: relative;

	float: left;
}

.pad {
	padding-left: 5em;
}